@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.font-serif {
  font-family: "Playfair Display", serif;
}

button, input, textarea, a, div {
  transition: all 200ms ease-in-out;
}

/* ================= THEME TOKENS ================= */

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-card: var(--card);
  --color-text-muted: var(--text-muted);
}

/* ================= LIGHT MODE ================= */

:root {
  --primary: white;
  --background: #E6F7FF;
  --text:#FFFFFF;
  --foreground: #111827;
  --secondary: #1B4F72;
  --muted: #6b7280;
  --border: #e5e7eb;
   /* --card: #1e293b; */
  --accent: #00B4DB;
  /* --accent-hover: #4338ca; */
  --success: #10b981;
  --error: #ef4444;
  --text-muted: #9ca3af;
}

/* ================= DARK MODE ================= */

.dark {
 --primary: #0D1B2A;
  --background: #0f172a;
  --foreground: #e2e8f0;
  --card: #1e293b;
  --secondary: #334155;
  --muted: #94a3b8;
  --border: #334155;
 
}